html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    background-image: linear-gradient(rgb(204, 12, 12), rgb(255, 255, 255));
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
.days {
    border: black 1px solid;
    margin: 1em 2em; /* top + bottom / left + right */
    font-size: 2em;
    padding: .4em 0;
    background-color: black;
    border-radius: .3em;
    display: grid;
    grid-template-rows: .5fr ;
    text-decoration: none;
    color: white ;
}
.choice {
    border: black 1px solid;
    margin: 0; /* top + bottom / left + right */
    font-size: 2em;
    padding: .4em .4em;
    background-color: black;
    display: inline-block;
    text-decoration: none;
    border-radius: .3em;
    color: white;
    margin-bottom: .2em;
}
.home {
    background-color: green;
    font-size: 2em;
    margin: 0; /* top + bottom / left + right */
    text-decoration: none;
    color: black;
    padding: 1em 1em;
    border: black 1px solid;
    display: block;
}
img {
    max-width: 95%;
}
.row {
    display: grid;
    grid-template-rows: .5fr ;
}
h3 {
    display: inline-block;
    margin: 0;
}
.collapsible {
    font-size: 1.2em;
    padding: .8em 0;
    text-align: left;
    padding-left: 2em;
}
.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: .9em;
    color: black;
    margin-left: 1em;
    float: right;
    margin-right: 2em;
}
.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}
.logo {
    margin-top: 1em;
}
h1 {
    font-size: 3em;
    margin-top: 0;
    margin-bottom: .2em;
}
h2 {
    margin-bottom: 0;
}
.login {
    text-decoration: none;
    color: white;
    border-radius: .3em;
    padding: .8em;
    background-color: black;
    position: relative;
    float: right;
    margin: .6em 6em;
}
@media screen and (max-width: 42em) {
    .login {
        position: absolute;
        right: 400em;
    }
}
@media screen and (min-width: 48em) {
    body {
        display: grid;
        grid-template-columns: 1fr ;
    }
    .header {
        border: 0 solid black;
        background-color: rgb(182, 182, 182);
        margin: 0;
        border-bottom: 1px solid black;
    }
    .logo {
        float: left;
        max-width: 7em;
        margin: .4em 6em;
    }
    .main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .days {
        padding: 1em .5em;
        font-size: 3em;
        background-color: rgba(0, 0, 0, 0.4);
    }
    .row {
        grid-template-columns: 1fr 1fr;
        text-align: left;
    }
    .content {
        text-align: center;
    }
    .content img {
        max-width: 40em;
        max-height: 40em;
    }
}