html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    background-image: linear-gradient(rgb(204, 12, 12), rgb(255, 255, 255));
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
.days {
    border: black 1px solid;
    margin: 1em 2em; /* top + bottom / left + right */
    font-size: 2em;
    padding: .4em 0;
    background-color: black;
    border-radius: .3em;
    display: grid;
    grid-template-rows: .5fr ;
    text-decoration: none;
    color: white ;
}
.choice {
    border: black 1px solid;
    margin: 0; /* top + bottom / left + right */
    font-size: 2em;
    padding: .4em .4em;
    background-color: black;
    display: inline-block;
    text-decoration: none;
    border-radius: .3em;
    color: white;
}
.home {
    background-color: green;
    font-size: 2em;
    margin: 0; /* top + bottom / left + right */
    text-decoration: none;
    color: black;
    padding: 1em 1em;
    border: black 1px solid;
    display: block;
}
img {
    max-width: 95%;
}
.logo {
    margin-top: 1em;
}
h1 {
    font-size: 3em;
    margin-top: 0;
}
h2 {
    margin-bottom: 0;
}
@media screen and (min-width: 48em) {
    body {
        max-width: 60em;
    }
    .days {
        font-size: 2em;
        background-color: yellow;
    }
}
