html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    background-image: linear-gradient(rgb(0, 87, 87), rgb(0, 173, 173));
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}
.days {
    border: black 1px solid;
    margin: 2em 2em; /* top + bottom / left + right */
    font-size: 2em;
    padding: .4em 0;
    background-color: gray;
    border-radius: .3em;
    display: grid;
    grid-template-rows: .5fr ;
    text-decoration: none;
    color: black ;
}
.home {
    background-color: green;
    font-size: 2em;
    margin: 0; /* top + bottom / left + right */
    text-decoration: none;
    color: black;
    padding: 1em 1em;
    border: black 1px solid;
    display: block;
}
@media screen and (min-width: 48em) {
    body {
        max-width: 60em;
    }
    .days {
        font-size: 2em;
    }
}